
body{
	background-color: #828282;
	margin:0;
}

#headline{
	text-align: center;
	padding-top: 10px;
    background-color: #FFA07A;
}

h1{
    margin:0;
    color:#FFFFFF;
    padding-left: 10px;
}

p{
    color: #FFFFFF;
    padding-left: 10px;
}